<div class="px-4 py-2 rounded-l-xl userguide-button mud-elevation-25" @onclick="OpenDialog">
    <MudTooltip Arrow="true" Placement="Placement.Left" Text="Hot keys">
        <MudIcon Icon="@Icons.Filled.ContactSupport" Style="color: #ffffff" />
    </MudTooltip>
</div>

@code {
    bool license_accepted = false;

    async Task OpenDialog()
    {
        var result = await DialogService.Show<UserGuideDialog>("User guide").Result;

        if (!result.Cancelled)
        {
            license_accepted = (bool)(result.Data ?? false);
        }
    }
}

<style>
    .userguide-button {
        position: fixed;
        top: 20%;
        background: var(--mud-palette-primary);
        z-index: 1150;
        right: 0;
        cursor: pointer;
    }
</style>